---
import AgeIsland from '../components/AgeIsland.astro';
const pageTitle = "About Me";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <h1>{pageTitle}</h1>
        <p>
            I am a teenage dev currently participating in this super cool
            organization called Hackclub!
        </p>
        <AgeIsland /> 
    </body>
</html>
