---
import AgeIsland from "../components/AgeIsland.astro";
import Card from "../components/Card.astro";
const pageTitle = "About Me";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="PixelSaver - About">
  <main class="container mx-auto px-6 py-12 grid grid-cols-1 gap-4">
    <h1 class="text-center text-5xl font-bold mb-4">{pageTitle}</h1>
    
    <div class="block shadow-md transition-all duration-200 ease-out-quint bg-gray-dark text-pink-medium p-4 border rounded-md">
      <p>
        I am a teenage dev currently participating in this super cool organization
        called Hackclub!
      </p>
      <AgeIsland birthTime={1219156061000} ageClass="text-pink-light hover:underline decoration-wavy" eraClass="text-pink-light hover:underline decoration-wavy" />
    </div>
    <h2 class="text-center text-3xl font-bold mt-4">Facts about me!</h2>
    <div class="grid gap-2 grid-cols-[repeat(auto-fit,minmax(200px,1fr))]">
      <Card class="min-h-48" title="Pi from memory!" description="3.14159265358979323846 2643383279502884197169 3993751058209749445923 0781640628620899864825 3421170679823421" />
      <Card class="min-h-48" title="Coding" description="Crazy, I know. I made this website and all, so what a shocker. Still, check out my github! (bottom right)" />
      <Card class="min-h-48" title="People!" description="Reach out to me! May not have a guestbook right now, but on slack or in person or through email, happy to talk!" />
      <Card class="min-h-48" title="Cool stuff" description="Show me cool stuff! Websites, games, programs, utilities, sights, skills, songs, videos, moments, anything. Sharing is caring :)" />
    </div>
  </main>
</Layout>
