---
import AgeIsland from "../components/AgeIsland.astro";
import Card from "../components/Card.astro";
const pageTitle = "About Me";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="PixelSaver - About">
  <main class="container mx-auto px-6 py-12 grid grid-cols-1 gap-4">
    <h1 class="text-center text-5xl font-bold mb-4">{pageTitle}</h1>
    
    <div class="block shadow-md transition-all duration-200 ease-out-quint bg-gray-dark text-pink-medium p-4 border rounded-md">
      <p>
        I am a teenage dev currently participating in this super cool organization
        called Hackclub!
      </p>
      <AgeIsland birthTime={1219156061000} ageClass="text-pink-light hover:underline decoration-wavy" eraClass="text-pink-light hover:underline decoration-wavy" />
    </div>
    <h2 class="text-center text-3xl font-bold mt-4">Facts about me!</h2>
    <div class="grid gap-2 grid-flow-row">
      <Card title="PI" description="I like to recite pi!" />
      <Card title="PI" description="I like to recite pi!" />
      <Card title="PI" description="I like to recite pi!" />
      <Card title="PI" description="I like to recite pi!" />
      <Card title="PI" description="I like to recite pi!" />
    </div>
  </main>
</Layout>
