---
import Welcome from "../components/Welcome.astro";
import '../styles/global.css'
---
<!-- Following PedroTech's TailwindCSS Tutorial -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro</title>
    </head>
    <div class="bg-teal-50 w-full h-screen">
        <div class="bg-teal-500 px-6 py-4 text-teal-50 flex justify-between"> 
            <h1 class="text-lg font-light">SavingPixels</h1>
            <nav class="flex gap-4">
                <a href="#">Home</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </nav>
        </div>
        <div> Core </div>
        <div> Footer </div>
    </div>
</html>
