---
import Welcome from "../components/Welcome.astro";
import '../styles/global.css'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro</title>
    </head>
    <body class="min-h-screen bg-pink-100 text-purple-950">
        <nav class="bg-white shadow-md px-6 py-4">
            <div class="flex gap-6">
                <a
                    href="/Saving-Pixels/"
                    class="text-pink-500 font-medium transition-colors hover:text-pink-700"
                    >Home</a
                >
                <a
                    href="/Saving-Pixels/about/"
                    class="text-pink-500 font-medium transition-colors hover:text-pink-700"
                    >About</a
                >
            </div>
        </nav>

        <main class="container mx-auto px-6 py-12">
            <h1 class="text-5xl font-bold mb-8 text-center">
                Saving Pixels, one at a time!
            </h1>
            <p>I never would have guessed that I would be coding a website. I always found HTML and CSS to be too burdensome to get around to, but here I am, typing this into my laptop. Funny how the world works.</p>
        </main>
    </body>
</html>
