---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="PixelSaver - Home" class="text-cyan-50">
    <main class="container mx-auto px-6 py-12 grid grid-cols-1 gap-4">
            <!-- 
            From- To is a gradient
            text-transparent and bg-clip-text is the thing to make it look from behind the text
            leading-snug fits the j, g, y, etc that comes out from below
            -->
            <h1 class="text-5xl font-bold mb-4 text-center
            from-pink-medium to-pink-light bg-radial-[at_50%_75%] text-transparent bg-clip-text 
            leading-snug
            ">
                Saving Pixels, one at a time!
            </h1>
            <p>
                I never would have guessed that I would be coding a website. I
                always found HTML and CSS to be too burdensome to get around to,
                but here I am, typing this into my laptop. Funny how the world
                works.
            </p>
            <Card title="Showoff" description="Things I'm trying out in Astro while learning" href="/Saving-Pixels/showoff" />
            <Card title="Readme" description="Trying things out here too" href="/Saving-Pixels/readme" />
    </main>
</Layout>