---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="PixelSaver - Home" class="text-cyan-50">
  <main class="container mx-auto px-6 py-12">
      <div class="hover:bg-red-500 bg-blue-500 p-4 text-white">
        Hover test
      </div>
    <h1 class="text-5xl font-bold mb-8 text-center">
      Saving Pixels, one at a time!
    </h1>
    <p>
      I never would have guessed that I would be coding a website. I
      always found HTML and CSS to be too burdensome to get around to,
      but here I am, typing this into my laptop. Funny how the world
      works.
    </p>
    <Card title="Showoff" description="Things I'm trying out in Astro while learning" href="/Saving-Pixels/showoff" />
  </main>
</Layout>