---
import Welcome from "../components/Welcome.astro";
import '../styles/global.css'
---
<!-- Following PedroTech's TailwindCSS Tutorial -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro</title>
    </head>
    <div class="bg-teal-50 w-full h-screen">
        <div> Navbar </div>
        <div> Core </div>
        <div> Footer </div>
    </div>
</html>
