---
import Welcome from "../components/Welcome.astro";
import '../styles/global.css'
---
<!-- Following PedroTech's TailwindCSS Tutorial -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro</title>
    </head>
    <div class="bg-teal-50 w-full h-screen">
        <div class="bg-teal-500 px-6 py-4 text-teal-50 flex justify-between mb-8"> 
            <h1 class="text-lg font-light">SavingPixels</h1>
            <nav class="flex gap-4">
                <a href="#">Home</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </nav>
        </div>
        <div class="space-y-8">
            <section class="text-center">
                <h2 class="mb-4 text-4xl font-semibold sm:text-xl"> Welcome </h2>
                <p>This is the main content of the site, with a bunch of stuff</p>
            </section>
            <section>
                <h2 class="mb-4 text-center text-xl font-semibold"> Features </h2>
                <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
                    <a href="/" class="text-red-500 hover:text-green-500 no-underline">Home</a>
                    <div class="bg-amber-300 rounded p-4 hover:text-teal-50">Feature 1</div>
                    <div class="bg-amber-500 rounded p-4 hover:bg-teal-400">Feature 2</div>
                    <div class="bg-amber-700 rounded p-4 hover:bg-teal-400">Feature 3</div>
                </div>
            </section>
        </div>
        <div> Footer </div>
    </div>
</html>
