---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---



<Layout>
  <main class="container mx-auto px-6 py-12">
    <h1 class="text-5xl font-bold mb-8 text-center">
      Saving Pixels, one at a time!
    </h1>
    <p>
      I never would have guessed that I would be coding a website. I
      always found HTML and CSS to be too burdensome to get around to,
      but here I am, typing this into my laptop. Funny how the world
      works.
    </p>
    <div class="bg-pink-light p-4">Pink light background</div>
    <div class="bg-pink-medium p-4">Pink medium background</div>
    <div class="bg-blue p-4">Blue background</div>
    <div class="bg-gray-dark p-4">Gray dark background</div>
    <div class="bg-gray-darker p-4">Gray darker background</div>
  </main>
</Layout>