---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="PixelSaver - Palette">
  <main class="container mx-auto px-6 py-12">
    <div class="bg-pink-light p-4">Pink light background</div>
    <div class="bg-pink-medium p-4">Pink medium background</div>
    <div class="bg-blue p-4">Blue background</div>
    <div class="bg-gray-dark p-4">Gray dark background</div>
    <div class="bg-gray-darker p-4">Gray darker background</div>
  </main>
</Layout>