---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Showoff">
    <div class="flex gap-2 m-4">
        <div class="flex-1 bg-amber-300">
            <h1>Showoff</h1>
        </div>
        <div class="flex-1 bg-blue-600">
            <h1>Showoff</h1>
        </div>
        <div class="flex-1 bg-fuchsia-300">
            <h1>Showoff</h1>
        </div>
    </div>
</Layout>
