---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Showoff">
  <div class="flex gap-2 m-4">
    <div class="flex-1">
      <Card title="Showoff" description="Testing thigns out" />
    </div>
    <div class="flex-1">
      <Card title="Showoff" description="Testing thigns out" />
    </div>
    <div class="flex-1">
      <Card title="Showoff" description="Testing thigns out" />
    </div>
  </div>
  <button class="bg-blue-500 transition duration-200 ease-out-quint hover:scale-105 hover:bg-indigo-500 ">
    Save Changes
  </button>
</Layout>
