--- 
interface Props {
  title: string;
  /// The question mark means it's optional
  description?: string;
  href?: string;
}

/// Input through attributes
const { title, description, href } = Astro.props;
---

<a class="block shadow-md hover:shadow-lg hover:-translate-y-0.5 hover:scale-101 hover:text-pink-light transition-all duration-200 ease-out-quint bg-gray-dark text-pink-medium p-4 border rounded-md"
    href={href}
>
    <h3>{title}</h3>
    {
      /// Truthy that checks if description is null
      description && (
      <p>{description}</p>
      )
    }
    <div>
        <slot />
    </div>
</a>