---
import "../styles/global.css";
---

<nav class="bg-gray-dark shadow-md px-6 py-4">
    <div class="flex gap-6">
        <a
            href="/Saving-Pixels/"
            class="text-pink-medium font-medium transition-colors hover:text-pink-light"
            >Home</a
        >
        <a
            href="/Saving-Pixels/about/"
            class="text-pink-medium font-medium transition-colors hover:text-pink-light"
            >About</a
        >
    </div>
</nav>